		h1 {
			color: coral;
		}

		img {
			width: 400px;
		}
		#thirdDiv {
			height: 600px;
			width: 500px;
			background-color: coral;
			padding: 50px;
			border: 10px solid lightseagreen;
		}
		#spanId{
			font-size: 18px;
			margin: 50px;
		}
		
